:root {
  --content-player-width: 65vw;
  --content-shoot-width: calc(100vw - var(--content-player-width));
  --timeline-height: 50px;
  --timeline-pointer-width: 3px;
  --timeline-pointer-color: red;
  --timeline-shoot-color: #88560a;
  --footer-height: 30px;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: #141414;
  color: white;
  font-size: 18px;
  font-family: Helvetica, Arial, sans-serif;
}

main {
  display: grid;
  grid-template-columns: var(--content-player-width) var(--content-shoot-width);
  height: calc(100vh - var(--footer-height));
}

article,
aside {
  overflow-y: scroll;
  overflow-x: hidden;
}

footer {
  height: var(--footer-height);
  background: gray;
  background-color: black;
  text-align: center;
  font-size: .7rem;
  line-height: 1.8rem;
}

footer a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.player {
  display: flex;
  flex-direction: column;
}

/* Player */
#player {
  width: 100%;
  height: calc(var(--content-player-width) * 0.565);
  margin: 0;
  padding: 0;
}

/* Timeline */
.timeline {
  width: 100%;
  height: calc(var(--timeline-height) + 6px);
  position: relative;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: black;
}

.timeline__content {
  width: 100%;
  height: calc(var(--timeline-height));
  display: flex;
  position: relative;
  border-top: gray 3px dashed;
  border-bottom: gray 3px dashed;
  gap: 3px;
}

.timeline__shoot {
  font-size: 0.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 0 black;
  color: white;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  background-image: linear-gradient(to top, transparent 0%, rgba(255, 255, 255, .1) 5%, transparent 50%);
  background-color: var(--timeline-shoot-color);
  background-size: cover;
  background-blend-mode: soft-light;

  opacity: .5;
  transition: all .2s;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 3px;
}

.timeline__shoot:hover {
  filter: brightness(1.7);
  opacity: 1;
}

.timeline__shoot:nth-child(odd) {
  filter: brightness(1.2);
}


.timeline__shoot--current {
  transform: scale(1.15);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5), 0 0 3px rgba(0, 0, 0, 0.5);
  z-index: 1010;
  opacity: 1;
  font-size: 1rem;
}

.timeline__pointer {
  z-index: 1020;
  height: var(--timeline-height);
  width: var(--timeline-pointer-width);
  background-color: var(--timeline-pointer-color);
  position: absolute;
  left: 0;
  top: 6px;
}

.content {
  padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

/* Shoots */
.shoot__list {
  padding: 10px;
  background-color: rgb(61, 43, 16);
}

.shoot__item {
  background-color: black;
  position: relative;
  margin-bottom: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.shoot__item::before {
  display: block;
  content: attr(data-shootn);
  position: absolute;
  background-color: var(--timeline-shoot-color);
  color: white;
  text-align: center;
  line-height: 1.8rem;
  width: 30px;
  height: 30px;
  z-index: 1000;
}

.shoot__frame {
  background-color: white;
  height: 200px;
  background-size: cover;
  cursor: pointer;
  transition: transform .2s;
}

.shoot__frame:hover {
  transform: scale(1.03);
}

.shoot__info {
  text-align: center;
  font-size: .6rem;
  color: white;
  padding: 3px;
}

.shoot__detail-list {
  padding: 5px;
  background-color: #151515;
}

.shoot__group-title {
  background-color: rgba(255, 255, 255, .1);
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: .7rem;
  padding: 3px;
  margin-bottom: 5px;
}

.shoot__detail-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  font-size: .7rem;
  line-height: 1.5em;
  padding: 0 0 5px;
}

.shoot__detail-item:last-child {
  padding-bottom: 0;
}

.shoot__detail-label {
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
}

.shoot__detail-value {
  color: darkgray;
}